.structure {
    padding: 70px 10%;
    box-sizing: border-box;
    text-align: center;
}

.white {
    background-color: #E1EDFF;
}
.black {
    background: #262b39;
}




.clearfix:after {
    content: '';
    display: block;
    clear: both;
}