.home_wrapper {
    padding-top: 100px;
    overflow: hidden;
}
.home {
    position: relative;
}


.home_background {
    position: absolute;
    /*top: 500px;*/
}
.home_background img {
    /*transition: all 0.5s ease-in-out;*/
}


.home_text .icon {
    /*position: relative;*/

}
.home_text .icon svg {
    height: 254px;
    width: 254px;
}


.pulse {
    animation: pulse 4s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        /*height: 255px;*/
        /*width: 255px;*/
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}



.home_text {
    text-align: center;
    position: relative;
    float: right;
}

.home_text h1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 84px;
    line-height: 102px;

    color: #E1EDFF;
    margin-bottom: 14px;
}
.home_text span {
    display: inline-block;
    color: #fff;
    transition: all 0.4s;
}
.home_text span:hover {
    color: #3568FF;

}
/*.home_text h1 {*/
/*    animation: pull-ding-dong 0.7s;*/

/*}*/
.pull_ding_dong {
    animation: pull-ding-dong 0.7s;
}

@keyframes pull-ding-dong {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }

}

.home_text p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;

    color: #FFFFFF;

    margin-bottom: 65px;
}

.home_text a {
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #F8F9FC;
    display: block;
    width: min-content;
    padding: 0 110px;
    line-height: 59px;
    margin: 0 auto;
}

.home_text a:hover {
    animation: ding-dong 0.5s;
}

@keyframes ding-dong {
    20% {
        transform: translateX(5px);
    }
    45% {
        transform: translateX(-5px);
    }
    65% {
        transform: translateX(3px);
    }
    85% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(0);
    }
}

.home_text .sign_in {
    margin-bottom: 50px;
}

.home_text .sign_up {
    padding: 0 50px;
}


.home_text .sign_in,
.home_text .sign_up {
    overflow: hidden;
    outline: 2px solid #3568FF;
    position: relative;
    z-index: 1;
}
.home_text .sign_in:before,
.home_text .sign_up:before {
    transition: all 0.3s ease-in-out;
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #203c8f;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    z-index: -1;
}
.home_text .sign_in:hover:before,
.home_text .sign_up:hover:before {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100%;
    background: #3568FF;
}
.home_text .sign_in:hover,
.home_text .sign_up:hover {
    transition: all 0.3s;
    -webkit-box-shadow: 0px 0px 8px 3px rgba(222, 229, 251, 0.2);
    -moz-box-shadow: 0px 0px 8px 3px rgba(222, 229, 251, 0.2);
    box-shadow: 0px 0px 8px 3px rgba(222, 229, 251, 0.2);
}

.home_text .sign_in:after,
.home_text .sign_up:after {
    content: '';
    background: url(../svg/lk.svg) no-repeat;
    background-size: 33px;
    background-position: center;
    height: 100%;
    width: 35px;
    position: absolute;
    top: 0;
    left: -37px;
}
.home_text .sign_in:hover:after,
.home_text .sign_up:hover:after {
    transition: all 0.3s;
    left: 10px;
}

