.user {
    display: flex;
    margin-bottom: 50px;
}

.personal_area .user img {
    margin-right: 43px;
    height: 150px;
}

.user p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #E1EDFF;
}
.user h5 {
    margin-bottom: 18px;
}
.user p:not(.progress_text) {
    margin-bottom: 31px;
}
.user .progress_text {
    margin-bottom: 11px;
}

.user .progress_bar {
    background-color: #3568FF;
    height: 10px;
    width: 100%;
    display: inline-block;
}
.user .completed {
    margin-top: -2px;
    background-color: #F45196;
    height: 14px;
    width: 40%;
}

.personal_area .lecture {
    background-color: #E1EDFF;
    border-radius: 15px;
    padding: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    position: relative;
    margin-bottom: 18px;
    transition: all 0.2s ease-in-out;
    transform: translateY(0);
    cursor: pointer;
}

.personal_area .lecture:hover {
    transform: translateY(-5px);
    outline: 4px solid #3568FF;
}
.personal_area .lecture:active {
    transform: translateY(10px) !important;
}
.personal_area .lecture .video_preview {
    background-color: #000;
    margin-right: 20px;
}
.personal_area .lecture .video_preview img {
    width: 168px;

}

.personal_area .lecture .lecture_text {
    width: 67%;
}
.personal_area .lecture h6 {
    margin-bottom: 6px;
    color: #000000;
}
.personal_area .lecture span {
    background-color: #3568FF;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #E1EDFF;

    margin-bottom: 9px;
    padding: 0px 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;

}
.personal_area .lecture span.first {
    margin-right: 25px;
}

.personal_area .lecture p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    width: 84%;
}

.personal_area .lecture .rating_stars {
    position: absolute;
    bottom: 15px;
    right: 18px;
}
.personal_area .lecture .rating_stars img {
    height: 30px;
}
.personal_area .lecture .favorite_icon img {
    height: 30px;
}

.personal_area .lecture .favorite_icon {
    position: absolute;
    top: 15px;
    right: 18px;
}

.recently_viewed h5 {
    margin-bottom: 25px;
}