.home_wrapper {
    padding-bottom: 270px;
    padding-top: 100px;
    overflow: hidden;
    text-align: center;

    background: linear-gradient(360deg, rgb(50 60 88) 0%, rgba(38,43,57,1) 23%)
}

.home {
    position: relative;
}

/*home stars*/
.home_stars {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.home_stars div {
    /*background-color: #38495a;*/
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 36%, rgba(38,43,57,1) 100%);
    position: absolute;
}
.small_stars div {
    /*background-color: #fff;*/
    height: 1px;
    width: 1px;
}
.small_stars {
    animation: moving_stars 100s infinite;
}
.medium_stars div {
    height: 2px;
    width: 2px;
    /*background-color: yellow;*/
}
.medium_stars {
    animation: moving_stars 150s infinite;
}
.large_stars div {
    height: 3px;
    width: 3px;
    transition: all 2s;
    /*background-color: red;*/
}
.large_stars {
    animation: moving_stars 200s infinite;
}

@keyframes moving_stars {
    0% {
        transform: translateY(0px)
    }
    100% {
        transform: translateY(-2500px)
    }
    /*50% {*/
    /*    transform: translateY(1100px)*/
    /*}*/
    /*100% {*/
    /*    transform: translateY(0px)*/
    /*}*/

}








/*home icon*/

.home_background {
    position: absolute;
    /*top: 500px;*/
}
.home_background img {
    /*transition: all 0.5s ease-in-out;*/
}
.home_text .icon {
    position: relative;
}
.home_text .icon img {
    height: 254px;
    width: 254px;
    display: inline-block;
}
.home_text .wrapper_logo {
    width: min-content;
    margin: 0 auto;
}

.home_text .wrapper_logo:after {
    content: '';
    opacity: 0;
    z-index: -1;
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    transition: all 0.7s ease-in-out;
    /*-webkit-box-shadow: 0 0 27px 50px rgb(53 104 255 / 20%);*/
    /*-moz-box-shadow: 0 0 27px 50px rgb(53 104 255 / 20%);*/
    box-shadow: 0 0 27px 50px rgba(53, 104, 255, 0.15);
}
.home_text .wrapper_logo:hover:after {
    opacity: 1;
}



.pulse {
    animation: pulse 4s infinite ease-in-out;
    /*transition: all 1s;*/
    /*transform: translate(0px, 0px);*/
}
@keyframes pulse {
    0% {
        transform: scale(1);
        /*height: 255px;*/
        /*width: 255px;*/
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


/*home text*/

.home_text {
    text-align: center;
    position: relative;
    float: right;
}

.home_text h1{
    margin-bottom: 14px;
}
.home_text span {
    display: inline-block;
    color: #fff;
    transition: all 0.4s;
}
.home_text span:hover {
    color: #3568FF;

}
/*.home_text h1 {*/
/*    animation: pull-ding-dong 0.7s;*/

/*}*/


.home_text p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;

    color: #FFFFFF;

    margin-bottom: 65px;
}

.home_text a {
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #F8F9FC;
    display: block;
    width: min-content;
    padding: 0 110px;
    line-height: 59px;
    margin: 0 auto;
    background-color: #262b39;
}

.home_text a:hover {
    animation: ding-dong 0.5s;
}

@keyframes ding-dong {
    20% {
        transform: translateX(5px);
    }
    55% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(3px);
    }
    85% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(0);
    }
}

.home_text .sign_in {
    margin-bottom: 50px;
}

.home_text .sign_up {
    padding: 0 50px;
}


.home_text .sign_in,
.home_text .sign_up {
    overflow: hidden;
    outline: 2px solid #3568FF;
    position: relative;
    z-index: 1;
}
.home_text .sign_in:before,
.home_text .sign_up:before {
    transition: all 0.3s ease-in-out;
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #203c8f;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    z-index: -1;
}
.home_text .sign_in:hover:before,
.home_text .sign_up:hover:before {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100%;
    background: #3568FF;
}
.home_text .sign_in:hover,
.home_text .sign_up:hover {
    transition: all 0.3s;
    -webkit-box-shadow: 0px 0px 8px 3px rgba(222, 229, 251, 0.2);
    -moz-box-shadow: 0px 0px 8px 3px rgba(222, 229, 251, 0.2);
    box-shadow: 0px 0px 8px 3px rgba(222, 229, 251, 0.2);
}

.home_text .sign_in:after,
.home_text .sign_up:after {
    content: '';
    background: url(../../svg/lk.svg) no-repeat;
    background-size: 33px;
    background-position: center;
    height: 100%;
    width: 35px;
    position: absolute;
    top: 0;
    left: -37px;
}
.home_text .sign_in:hover:after,
.home_text .sign_up:hover:after {
    transition: all 0.3s;
    left: 10px;
}
